.app {
  font-family: 'Roboto Mono', monospace;
  font-size:  16px;
}

.navbar {
  display: flex;
  background-color:  black;
}

.navbar-item {
  margin:  20px;
  color:  white;
}

.navbar-brand {
  color:  Lime;
}

.navbar-highlight {
  background-color:  DeepPink;
}

.navbar-user {
  background-color:  grey;
  display: flex;
  justify-content: flex-end;
}

.container {
  text-align: center;
}

input {
  font-family: 'Roboto Mono', monospace;
  font-size:  16px;    
  border-width: 3px;
}

.button {
  padding: 20px;
  background-color:  black;
  color:  white;
  font-weight:  bold;
  cursor:  pointer;
  border-color:  lime;
  font-family: 'Roboto Mono', monospace;
  font-size:  16px;    
  border-width: 3px;

}

.row {
  padding:  20px;
}

.table {
  display: table;         
  width: auto;         
  margin:  auto;
}

.table-row {
  display: table-row;
  width: auto;
  clear: both;
}

.table-cell {
  float: left;
  display: table-column;         
  width: 400px;         
  border: 3px solid lime;         
  height: 30px;
}

.poll-card {
  border: 3px solid lime;
  background-color:  grey;         
  color:  black;
  padding:  20px;
}

 .table-head {
    background-color:  lime;
    color:  black;
    font-weight:  bold;    
 }

a {
  color:  white;
  text-decoration: none;
}